
body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    scroll: none;
    overflow: hidden;
}

/* ------ Section Styles --------*/
#main { 
    display: block;
    background-image: url('https://i.imgur.com/dBZ4BNu.jpg');
    height: 100vh; 

}
#left {
    display: block;
    background-image: url('https://i.imgur.com/xgGQud5.jpg');
    height: 100vh;
    background-position-y: -10rem;
}

#right {
    display: block;
    background-image: url('https://i.imgur.com/KmJ6EVM.jpg');
    height: 100vh;
}
#top {
    display: block;
    background-image: url('https://i.imgur.com/ph3VYBv.jpg');
    height: 100vh;
    background-position-y: -23rem;

}
#bottom {
    display: block;
    background-image: url('https://i.imgur.com/PZVAg02.png');
    height: 100vh;
    background-position-y: -12rem;
}

#secret{
    display: block;
    background-image: url('https://i.imgur.com/DxQ9HGi.jpg');
    height: 100vh;
    background-position-y: -5rem;

}

#drawing{
    display: block;
    background-image: url('https://i.imgur.com/P9AHqwW.jpg');
    height: 100vh;
 

}
#crystals{
    display: block;
    background-image: url('https://i.imgur.com/U4odL4B.jpg');
    height: 100vh;
 
}
/*------ Items -------*/
.item {
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    left: 500px;
    display: none;
}
#satchel {
    display: inline;
}

#safe {
    display:inline;
}


.item:hover {
    cursor: pointer;
    background-color: rgb(222, 240, 140);
    color:  rgb(241, 227, 93);
    box-shadow:
        0 0 60px 30px rgb(177, 122, 34),  /* inner white */
        0 0 100px 60px rgb(255, 166, 0), /* middle magenta */
        0 0 140px 90px rgb(238, 255, 0); /* outer cyan */

    }



/*------ Enemies ------*/


.enemy:hover {
    cursor: pointer;
    background-color: rgb(231, 39, 14);
    color:  rgb(241, 93, 93);
    box-shadow:
        0 0 60px 30px rgb(221, 143, 17),  /* inner white */
        0 0 100px 60px rgb(255, 102, 0), /* middle magenta */
        0 0 140px 90px rgb(255, 0, 0); /* outer cyan */
}

#bear {
    margin: 0;
    padding: 0;
    left: 100px;
    height: 400px;
    width: 400px;
    position: absolute;
  
}
#snake {
    position: absolute;
    left: 400px;
    width: 200px;
    height: 200px;
}

#bat {
        width:  200px;
        height: 200px;
        animation-duration: 3s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%; 
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }




/*------ Buttons -------*/
.blinker {
    font-size: 30px;
    color: white;
    animation: blinker .7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker { to { opacity: 0; } }

#secretRoom {
    position: absolute;
    top: 500px;
    left: 300px;
}

#secretPath {
    position: absolute;
    left: 650px;
}

#crystalPath {
    position: absolute;
    right: 800px;
}

.safe {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color:#768d87;
    border-radius:5px; 
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px; 
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}

.safe:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
}

.safe:active {
    position:relative;
    top:1px;
}

.danger {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color:#768d87;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;

}
.danger:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
}
.danger:active {
    position:relative;
    top:1px;
}




/*------- Footer ------- */
#foot {
position: fixed;
text-align: center;
justify-content: center;
margin: auto;
left: 0px;
bottom:0px;
height:130px;
width:100%;
background:rgba(54, 44, 44, 0.8);
border: solid black;
font-family: Courier, monospace;
display: inline-block;
}



  .health {
      position: absolute;
      top: 43px;
      left: 270px;
      margin: auto;  
      color: rgb(95, 0, 144);
      font-size: 3rem;
  }
  .label {
      position: absolute;
      color: rgb(95, 0, 144);
      left: 50px;
      font-size: 3rem;
  }
  
    /* you might need this for hints 
    .exit {
        position: absolute;
        top: 410px;
        left: 220px;
        height: 120px;
    }

    a:hover + .exit {
        display: block;
        cursor: pointer;
        border: solid gold;
    }
    */
 
  .footerBox {
      position: absolute;
      left: 380px;

  }

.typewriter{
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}